body {
  margin-top: 50px;
  margin-bottom: 50px;
  background: none;
}

.full {
  background: url(http://i.imgur.com/WL6lmMz.jpg) no-repeat center center fixed;
  background:   opacity: 0.7; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}